<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <%= csrf_meta_tags %>
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.css">
    -->
    <!-- <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>
    <%= javascript_include_tag params[:controller] %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
<style type="text/css">

.jumbotron {
    position: relative;
    background: #696767 url("/assets/chinalakeDesert-1260x945.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
#jumbo {
  padding: 100px;
}
</style>

<div id="jumbo" class="jumbotron">
    <div class="container">
        <img src="/assets/Eupraxia_Logo_2C_RGB-300x41.png">
        <img src="/assets/powered_by_openshift.png">
    </div>
</div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2><center>OpenShift 3</center></h2>
          <p>Lots to talk about here. More and more and more and more and more</p>
          <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Docker Cloud</h2>
          <p>Set up a world class hybrid cloud.</p>
          <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>OpenStack Cloud</h2>
          <p>Manage your Infrastructure-as-a-Service (IaaS).</p>
          <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>OpenStack Cloud</h2>
          <p>Manage your Infrastructure-as-a-Service (IaaS).</p>
          <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>OpenStack Cloud</h2>
          <p>Manage your Infrastructure-as-a-Service (IaaS).</p>
          <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>OpenStack Cloud</h2>
          <p>Manage your Infrastructure-as-a-Service (IaaS).</p>
          <p><a class="btn btn-default" href="#" role="button">More &raquo;</a></p>
        </div>
      </div>
</html>
