<!DOCTYPE html>
<html>
  <head>
    <title>About Eupraxia Labs</title>
    <%= csrf_meta_tags %>
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.css">
    -->
    <!-- <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>
    <%= javascript_include_tag params[:controller] %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <body>

    <h2 style="border: 4px solid rgb(204, 204, 204); background-color: lightgrey; padding: 5px 10px; text-align: center;"><strong><span style="color: #226389;">Company Background</span></strong></h2>


    <p>Based in Austin, Texas<strong> Eupraxia Labs, LLC</strong> is focused on the newest wave of innovation in the private data center: <strong>Open Source Web-Scale Information Technology (IT)</strong>.</p>

    <p><strong>Web-scale IT</strong> is a pattern of global-class computing that delivers the capabilities of large <strong>Cloud Service Providers (CSP)</strong> within an <strong>enterprise information technology (EIT)</strong> setting. <strong>Web-scale IT-enablement</strong> products and services are increasing in demand year-over-year. More organizations will begin thinking, acting, and building applications and infrastructures like the Web giants: Amazon, Google, SalesForce, and Facebook. <strong>Web-scale IT</strong> does not happen at the flip of a switch. The methodologies and processes to achieve this capability are rapidly evolving.</p>

    <p>Commercial hardware platforms are embracing the new models and cloud-optimized and software-defined approaches, such as <strong>Software-Defined Networking (SDN)</strong> and <strong>Software-Defined Storage (SDS)</strong> are reaching mainstream. <strong>Eupraxia Labs</strong> provides open source software and professional services to enable companies to implement, manage, and operate a <strong>Cloud Management Platform (CMP)</strong> in support of their own business applications and those of their partners and customers.</p>

    <p>In those cases where companies choose to outsource the cloud management and operations (<strong>MANO</strong>) functions, <strong>Eupraxia Labs</strong> provides that support on an ongoing basis. The open source solutions, offered by <strong>Eupraxia Labs</strong>, significantly reduces the barrier-to-entry cost for <strong>small-to-medium sized businesses (SMB)</strong> and optimizes the cost structure for <strong>large enterprises</strong>.</p>

    <p>The underlying operating system for all applications is the premier open source equivalent to <strong>Red Hat Enterprise Linux (RHEL), CentOS</strong>. The Cloud Management Platorm (<strong>CMP</strong>), Infrastructure-as-a-Service (<strong>IaaS</strong>), and Platform-as-a-Service (<strong>PaaS</strong>) are all open source upstreams to Red Hat&#39;s commercial counterparts.</p>

    <p>&nbsp;</p>

    <p style="text-align: center;">&nbsp;</p>
  </body>
</html>
