<!DOCTYPE html>
<html>
  <head>
    <title>Eupraxia Labs Pricing</title>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>
    <%= javascript_include_tag params[:controller] %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <h2>Put in matrix: Community, Bronze, Silver, Gold, Platinum</h2>
  </body>
</html>
