<!DOCTYPE html>
<html>
  <head>
    <title>EL:Blueprint</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.css">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style type="text/css">

.navbar-custom {
       color: white;
       background-color: #226389;
       background-image: none;
    }

.navbar-brand img {
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
  left: 0;
}

.navbar-default {
  background-color: #226389;
  border-color: #968d8d;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff3f3;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff3f3;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #226389;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fff3f3;
  background-color: #968d8d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #968d8d;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff3f3;
  background-color: #968d8d;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff3f3;
  background-color: #968d8d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff3f3;
  background-color: #968d8d;
}
.navbar-default .navbar-toggle {
  border-color: #968d8d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #968d8d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #fff3f3;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff3f3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff3f3;
    background-color: #968d8d;
  }
}
  </style>
<script>
     $(function() {
        $('#nav li a').click(function() {
           $('#nav li').removeClass();
           $($(this).attr('href')).addClass('active');
        });
     });
  </script>

  <body>
    <nav id="menu" class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/"><!--<img src="/assets/EL-Logo-Block50x50.png"> --> </a>
         </div>
         <div class="collapse navbar-collapse">
           <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
             <li><%=link_to "Home", "/welcome/index"%></li>
             <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown"> Products <span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <!--<li><a href="/pages/products">Persistent Volume Manager</a></li> -->
                 <li><%=link_to "Blueprint:Persistent Volume Manager (PVMMA)", "/pages/pvm"%></li>
                 <li><%=link_to "Blueprint:WSO2 Identity Server (OpenShift)", "/pages/pvm"%></li>
                 <li><%=link_to "Blueprint:Atlassian Jira (OpenShift)", "/pages/pvm"%></li>

               </ul>
             </li>
             <li><%=link_to "Services", "/pages/services"%></li>
             <li><%=link_to "Professional Services", "/pages/professionalservices"%></li>
             <li><%=link_to "Pricing", "/pages/pricing"%></li>
             <li><%=link_to "About Us", "/pages/aboutus"%></li>
             <li><%=link_to "Contact Us", "/pages/contactus"%></li>
           </ul>
           <p class="navbar-text pull-right">
             <% if user_signed_in? %>
                Logged in as <strong><%= current_user.email %></strong>.
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                <% else %>
                  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
          </div>
        </div>
</nav>

    <div class="container">
        <%= yield %>
    </div>
    <footer>
      <div class="container">
          <b>Eupraxia Labs, L.L.C. 2016</b>
        </div>
</footer>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
  </body>
</html>
