<!DOCTYPE html>
<html>
  <head>
    <title>EL:Blueprint</title>
    <%= csrf_meta_tags %>
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.css"> -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <style type="text/css">

.navbar-custom {
       color: #226389;
       background-color: #226389;
       background-image: none;
    }
.navbar-fixed-top {
  min-height: 90px;
}

.nav {
  font-size: 16px;
  font: sans-serif;
}
.navbar-brand img {
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}
.navbar-brand {
  float: none;
}
.navbar-default {
  background-color: #226389;
  border-color: orange;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff3f3;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff3f3;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #226389;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fff3f3;
  background-color: #968d8d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #968d8d;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff3f3;
  background-color: #968d8d;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff3f3;
  background-color: #968d8d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff3f3;
  background-color: #968d8d;
}
.navbar-default .navbar-toggle {
  border-color: #968d8d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #968d8d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: orange !important;
}
#iFooter{
  font-style: italic;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1 !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff3f3 !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff3f3 !important;
    background-color: #968d8d !important;
  }
}
body {
  padding-top:115px;
  font-family: "Open Sans", sans-serif;
}

.breadcrumb{
    background-color: none;
    color: #226389;

}


  </style>
<script>
     $(function() {
        $('#nav li a').click(function() {
           $('#nav li').removeClass();
           $($(this).attr('href')).addClass('active');
        });
     });
  </script>
<!--
<script>

	var onResize = function() {
  	// apply dynamic padding at the top of the body according to the fixed navbar height
 	 $("body").css("padding-top", $(".navbar-fixed-top").height());
	};

	// attach the function to the window resize event
	$(window).resize(onResize);

	// call it also when the page is ready after load or reload
	$(function() {
  	onResize();
	});
</script>
-->
<script>
	$(window).resize(function () {
    		$('body').css('padding-top', parseInt($('#menu').css("height"))+20);
	});

	$(window).load(function () {
    		$('body').css('padding-top', parseInt($('#menu').css("height"))+20);
	});
</script>

  <body>
    <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => ""%>
    </ol>
    <nav id="menu" class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/"><img src="/assets/EL-Logo-Block50x50.png"></a>
         </div>
         <div class="collapse navbar-collapse">
           <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
             <li><%=link_to "EL Advantage", "/welcome/index"%></li>
             <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown"> Products</span></a>
               <ul class="dropdown-menu">
                 <!--<li><a href="/pages/products">Persistent Volume Manager</a></li> -->
                 <li><%=link_to "Blueprint: EL Persistent Volume Manager (OpenShift 3)", pvprovisions_path %></li>
                 <li><%=link_to "Blueprint:WSO2 Identity Server (OpenShift 3)", pages_wso2is_path %></li>
                 <li><%=link_to "Blueprint:Atlassian Jira (OpenShift 3)", pages_jira_path %></li>
               </ul>
             </li>
          <!--   <li><%=link_to "Services", "/pages/services"%></li> -->
             <li><%=link_to "Services", pages_services_path %></li>
             <li><%=link_to "Professional Services", pages_professionalservices_path %></li>
             <li><%=link_to "Pricing", pages_pricing_path %></li>
             <li><%=link_to "About Us", pages_aboutus_path %></li>
             <li><%=link_to "Contact Us", "/contact-us"%></li>
             <li><%=link_to "Admin", "/admin"%></li>
           </ul>
           <form class="form-inline pull-xs-right">
              <input class="form-control" type="text" placeholder="Search">
              <button class="btn btn-success-outline" type="submit">Search</button>
           </form>
           <p class="navbar-text pull-right">
             <% if user_signed_in? %>
                Howdy, <strong><%= current_user.email %></strong>.
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                <% else %>
                  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
          </div>
        </div>


</nav>
    <div class="container">
        <%= yield %>
    </div>

<div id="jumbo" class="jumbotron">
    <div class="container">
        <img src="/assets/Eupraxia_Logo_2C_RGB-300x41.png">
    </div>
</div>
<footer>
  <div id="iFooter" class="container">
       <p class="text-muted">Copyright &copy 2016, Eupraxia Labs, LLC</p>
    </div>
</footer>
  </body>
</html>
